<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jk.mapper.FactoryMapper">
    <resultMap id="factoryRM"	 type="com.jk.pojo.Factory">
    <id property="id" column="FACTORY_ID" />
    <result property="fullName"  column="FULL_NAME"/>
    <result property="factoryName"  column="FACTORY_NAME"/>
    <result property="contacts"  column="CONTACTS"/>
    <result property="phone"  column="PHONE"/>
    <result property="mobile"  column="MOBILE"/>
    <result property="fax"  column="FAX"/>
    <result property="cnote"  column="CNOTE"/>
    <result property="inspector"  column="INSPECTOR"/>
    <result property="orderNo"  column="ORDER_NO"/>
    <result property="createBy"  column="CREATE_BY"/>
    <result property="createDept"  column="CREATE_DEPT"/>
    <result property="createTime" column="CREATE_TIME" />
    <result property="state" column="STATE" />    
</resultMap>

 <select id="find" resultMap="factoryRM" parameterType="map">
    select * from factory_c
    where  1=1
</select> 

 <!-- 查询单个 -->
 <select id="get" parameterType="string" resultMap="factoryRM">
     select * from factory_c
     where factory_id =#{pid}
 </select>
 
<insert id="insert" parameterType="com.jk.pojo.Factory">
    insert into factory_c
    (FACTORY_ID,FULL_NAME,FACTORY_NAME,CONTACTS,PHONE,MOBILE,FAX,CNOTE,INSPECTOR,ORDER_NO,CREATE_BY,CREATE_DEPT,CREATE_TIME,STATE)
    values
    (
    #{id},
    #{fullName,jdbcType=VARCHAR},
    #{factoryName,jdbcType=VARCHAR},
    #{contacts,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR},
    #{mobile,jdbcType=VARCHAR},
    #{fax,jdbcType=VARCHAR},
    #{cnote,jdbcType=VARCHAR},
    #{inspector,jdbcType=VARCHAR},
    #{orderNo,jdbcType=INTEGER},
    #{createBy,jdbcType=VARCHAR},
    #{createDept,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{state,jdbcType=VARCHAR}
    )
</insert>

<delete id="deleteById" parameterType="string">
    delete from factory_c
    where factory_id=#{pid}
</delete>

<delete id="delete" parameterType="java.util.ArrayList">
    delete from factory_c
    where factory_id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
</delete>

<update id="update" parameterType="com.jk.pojo.Factory">
    update factory_c
    <set>
        <if test="fullName!=null">FULL_NAME=#{fullName,jdbcType=VARCHAR},</if>--此处的fullName表示传入对象factory中的fullName.正常情况下，输入框不输入的话表示空字符串而不是null
        <if test="factoryName!=null">FACTORY_NAME=#{factoryName,jdbcType=VARCHAR},</if>
        <if test="contacts!=null">CONTACTS=#{contacts,jdbcType=VARCHAR},</if>
        <if test="phone!=null">PHONE=#{phone,jdbcType=VARCHAR},</if>
        <if test="mobile!=null">MOBILE=#{mobile,jdbcType=VARCHAR},</if>
        <if test="fax!=null">FAX=#{fax,jdbcType=VARCHAR},</if>
        <if test="cnote!=null">CNOTE=#{cnote,jdbcType=VARCHAR},</if>
        <if test="inspector!=null">INSPECTOR=#{inspector,jdbcType=VARCHAR},</if>
        <if test="orderNo!=null">ORDER_NO=#{orderNo,jdbcType=INTEGER},</if>
        <if test="state!=null">STATE=#{state,jdbcType=VARCHAR},</if>
      <!--   <if test="createBy!=null">CREATE_BY=#{createBy,jdbcType=VARCHAR},</if>
        <if test="createDept!=null">CREATE_DEPT=#{createDept,jdbcType=VARCHAR},</if>
        <if test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP</if> -->
    </set>
    where factory_id =#{id}
    
</update>

<update id="updateState" parameterType="map">
    update factory_c set state=#{state} 
    where factory_id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
</update>
</mapper>
